.account-created-page {
  .success {
    max-width: 150px;
    @media (min-width: $sm) {
      max-width: 171px;
    }
  }

  .onboarding-body {
    flex: 4;
  }

  h1 {
    margin: 50px 0;
    line-height: 41px;
    text-align: center;
    font-weight: bold;
    font-size: 34px;

    @media (min-width: $md) {
      margin: 70px 0;
      font-size: 56px;
    }
  }
}
