.snackbar {

  &.info .MuiPaper-root {
    background-color: red;
    color: white;
  }

  .MuiPaper-root {
    font-size: .95rem;
    color: rgb(30, 70, 32);
    background-color: rgb(237, 247, 237);
    padding: 5px 10px;

    .MuiSnackbarContent-message {
      padding: 0px;
      background-color: transparent;
    }

    .MuiSnackbarContent-action {
      margin-right: 0px;
    }
  }
}