.background {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: normal;
    margin-bottom: 40px;

    @media (min-width: $md) {
      flex-direction: row;
    }
  }

  .article {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }

    @media (min-width: $md) {
      &:not(:last-child) {
        margin: 0 67px 0 0;
      }
    }
  }

  .label {
    display: block;
    line-height: 1;
  }

  .description {
    font-weight: normal;
    font-size: 13px;
  }

  .input {
    width: 100%;

    input {
      border: 0;
      width: 100%;
      background: transparent;
    }
  }

  .input#birthdate {
    @media (min-width: $md) {
      width: 55%;
    }
  }
}
