.background {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: normal;
    margin-bottom: 40px;

    @media (min-width: $md) {
      flex-direction: row;
    }
  }

  .article {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }

    @media (min-width: $md) {
      &:not(:last-child) {
        margin: 0 67px 0 0;
      }
    }
  }

  .label {
    display: block;
    line-height: 1;
  }

  .description {
    font-weight: normal;
    font-size: 13px;
  }

  .input {
    width: 100%;

    input {
      border: 0;
      width: 100%;
      background: transparent;
    }
  }

  .input#birthdate {
    @media (min-width: $md) {
      width: 55%;
    }
  }

  .autocomplete {
    position: relative;
    .autocomplete-dropdown-container {
      position: absolute;
      display: block;
      width: 100%;
      margin-top: -5px;
      z-index: 5;
      color: #000;

      .suggestion-item {
        cursor: pointer;
        background: #fff;
        padding: 6px 13px;
        border-color: $primary-color;
        border-width: 2px;
        border-left-style: solid;
        border-right-style: solid;
        &:last-child {
          border-bottom-style: solid;
        }

        @media (min-width: $md) {
          border: 0;
        }

        &--active {
          background: $primary-color;
          color: #fff;
        }

        &:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          padding-bottom: 13px;
        }
      }
    }
  }
}
