.create-profile {

  .toggleButtonGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row !important;
      justify-content: space-between;
      width: 100%;
      background-color: transparent;
    }

    .toggleButton {
      margin: 8px 0;
      border-radius: 14px !important;
      border: 1px solid #dadada !important;
      height: 28px;
      color: #999999;
      width: 228px;

      @media (min-width: 768px) {
        width: 30% !important;
        height: 48px;
        color: #fff;
        border-radius: 25px !important;
        border: none;
      }
    }
  }

  .MuiToggleButton-root.Mui-selected {
    background-color: rgb(0, 50, 151) !important;
    border: 0 !important;

    .MuiToggleButton-label {
      color: #fff;
    }
  }
}
