.nav-bottom {
  position: fixed;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 50px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  z-index: 9999;

  &.MuiBottomNavigation-root {
    display: none;

    @media (max-width: $sm) {
      display: inline-flex;
    }
  }
}
