.get-started-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include gradient-animation;

  .header {
    @media (max-width: $md - 1) {
      display: none;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 20vh auto;

    @media (min-width: $md) {
      align-items: center;
    }

    .logo {
      flex: 1;
      max-width: 240px;
      align-self: center;
      @media (min-width: $sm) {
        max-width: 275px;
      }
      @media (min-width: $md) {
        flex: none;
        margin-bottom: 55px;
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $md) {
      flex: 1;
    }

    .signup {
      background: #fff;
      color: $primary-color;
      margin-bottom: 20px;
    }

    .signin {
      font-size: 15px;
      color: #fff;
      margin-bottom: 50px;
      font-weight: normal;

      .cta {
        font-weight: 600;
        margin-left: 6px;
      }
    }
  }
}
