/*
  TODO:
  -- only keep global styles that are absolutely necessary
  -- move component specific styles into its respective scss file

  NOTE:
  -- marking classes w/filenames that are utilizing them to help organize/figure out plan of action
*/

* {
  font-family: $font-primary;
  text-transform: none;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

.error {
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: 500;
  color: $error-color;
  background: rgba(255, 255, 255, 0.8);
}

.onboarding-page {
  /*
    onboarding pages
  */
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  @include responsive-gradient;

  a {
    color: $accent-color;
  }

  .header {
    flex: 1;
  }

  .onboarding-body {
    flex: 2;
  }

  .label {
    letter-spacing: 0.374px;
    font-weight: 600;
    font-size: 15px;
    font-family: $font-secondary;
    * {
      font-weight: normal;
      font-family: inherit;
    }

    @media (min-width: $md) {
      margin-bottom: 18px;
      font-size: 20px;
    }
  }
}

.onboarding-body {
  /*
    onboarding pages
  */
  display: flex !important; // overriding 'mui' styles
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  /* .onboarding-body chip*/
  .chip {
    width: 100%;
    height: auto;
    margin: 7px 0 7px;
    padding: 13px;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.5);

    @media (min-width: $md) {
      width: auto;
      margin: 12px;
    }
  }

  /* .onboarding-body input*/
  .input {
    border-radius: 8px;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.2);

    input {
      line-height: normal; // safari fix
      color: #fff;
    }
    button {
      color: #fff;
    }

    .MuiOutlinedInput-root {
      border-radius: inherit;

      &.Mui-disabled input {
        color: #000;
      }

      &:not(.Mui-disabled) {
        .MuiOutlinedInput-notchedOutline {
          border-color: #fff;
        }
        .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
          border-color: #fff;
        }
      }
    }
  }
}

.progress-bottom {
  /*
    onboarding pages
  */
  display: none;

  @media (min-width: $md) {
    display: block;
    align-self: center;
    width: 55%;
    height: 8px;
    margin: auto 0 45px 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.21);

    .progress-bottom-bar {
      height: inherit;
      border-radius: inherit;
    }
  }
}

.primary-color {
  /*
    external-item-links.js
  */
  color: $primary-color !important;
}

.primary-outline {
  /*
    external-item-links.js
  */
  border: 1px solid $primary-color !important;
}

.card-title {
  /*
    cardAlertToggle.js
    cardArrow.js
    cardFriend.js
    cardTestResults.js
    testing-location-list-item.js
    share.page.js
  */
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin: 5px 0;
}

.card-description {
  /*
    cardAlertToggle.js
    cardArrow.js
    cardFriend.js
    cardTestResults.js
    testing-location-list-item.js
    share.page.js
  */
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 5px 0 !important;
  color: $grey-color;
}

.body-title {
  /*
    share.page.js
    update-testing-center-criteria.page.js
  */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0;

  @media (max-width: $md - 1) {
    font-size: 18px;
  }
}

.btn {
  /*
    cardTestResults.js
    external-item-link.js
  */
  box-sizing: border-box !important;
  border-radius: 14px !important;
  height: 28px;
  padding: 0 25px !important;
}

.btn-big {
  /*
    update-criteria-modal.js
    profile-view.page.js
    update-testing-center-criteria.page.js
  */
  height: 48px;
  border-radius: 10px !important;
  width: 100%;
  margin: 5px 0 !important;
}

.hide-desktop {
  /*
    cardTestResults.js
    home.page.js
    profile-view.page.js
    sign-in.page.js
  */
  @media (min-width: $md) {
    display: none !important;
  }
}

.hide-mobile {
  /*
    multiple pages
  */
  @media (max-width: $md - 1) {
    display: none !important;
  }
}

.MuiLinearProgress-barColorPrimary {
  /*
    onboarding pages
  */
  background-color: #eee !important;
}

.MuiLinearProgress-colorPrimary {
  /*
    onboarding pages
  */
  margin-top: 45px;
}

.MuiToggleButton-root {
  /*
    TODO: is this really needed? where?
  */
  text-transform: none !important;
}

/* make scrollbar transparent */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  // The component has this class, should have the style overflow-y: scroll
}

// responsive classses
@media (max-width: $md - 1) {
  .wid100-sm {
    /*
      map.page.js
    */
    width: 100% !important;
  }
}

@media (min-width: $md + 1) {
  .vh100-lg {
    /*
      map.page.js
    */
    height: 100vh !important;
  }
}
