/*
  TODO:
  -- only keep global styles that are absolutely necessary
  -- move component specific styles into its respective scss file

  NOTE:
  -- marking classes w/filenames that are utilizing them to help organize/figure out plan of action
*/

* {
  font-family: $font-normal;
  text-transform: none;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

.background-responsive {
  /*
    onboarding pages
  */
  width: 100%;

  @media (min-width: $md) {
    background: $gradient-background;

    h4 {
      color: #fff;
      font-size: 24px;
    }
  }
}

.onboarding-page {
  /*
    onboarding pages
  */
  display: flex;
  flex-direction: column;
  height: 100%;

  /* .onboarding-page anchor*/
  a {
    color: $navy;
  }

  /* .onboarding-page button-container*/
  .button-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0 40px;
    text-align: center;

    @media (min-width: $md) {
      flex-direction: row;
      margin: 20px 0 50px;
    }

    @media (min-width: $xl) {
      margin: 40px 0 70px;
    }

    > button {
      margin-bottom: 14px;

      @media (min-width: $md) {
        margin: 0;
      }
    }
  }
}

.onboarding-body {
  /*
    onboarding pages
  */
  flex: 1;
  display: flex !important; // overriding 'mui' styles
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $grey-text;

  @media (min-width: $md) {
    color: #fff;
  }

  /* .onboarding-body anchor*/
  a {
    color: $primary-color;

    @media (min-width: $md) {
      color: $navy;
    }
  }

  /* .onboarding-body label*/
  .label {
    font-size: 16px;
  }

  /* .onboarding-body chip*/
  .chip {
    width: 100%;
    height: auto;
    margin: 12px 0 12px;
    padding: 13px;
    font-weight: 500;
    font-size: 14px;
    color: #999;
    border-radius: 25px;
    border-color: #dadada;

    @media (min-width: $md) {
      width: auto;
      margin: 12px;
      color: #fff;
      border-color: #fff;
    }
  }

  /* .onboarding-body input*/
  .input {
    border-radius: 8px;
    background: #fff;

    input {
      line-height: normal; // safari fix
    }

    .MuiOutlinedInput-root {
      border-radius: inherit;
    }

    .MuiOutlinedInput-notchedOutline {
      @media (min-width: $md) {
        border: 0;
      }
    }
  }
}

// TODO: Move Button to its own component
.button-container button {
  /*
    onboarding + profile pages
  */
  padding: 12px 16px;
  line-height: 22px;
  letter-spacing: -0.41px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: none;
  width: 100%;

  &.delete {
    color: #fff;
    background-color: $error-color;
  }

  @media (min-width: $md) {
    width: auto;
    min-width: 228px;

    &.back {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
    }

    &.next {
      color: $primary-color;
      background-color: #fff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    &.Mui-disabled {
      color: rgba(0, 0, 0, 0.26);
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.progress-bottom {
  /*
    onboarding pages
  */
  display: none;

  @media (min-width: $md) {
    display: block;
    align-self: center;
    width: 55%;
    height: 8px;
    margin: auto 0 45px 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.21);

    .progress-bottom-bar {
      height: inherit;
      border-radius: inherit;
    }
  }
}

.primary-color {
  /*
    external-item-links.js
  */
  color: $primary-color !important;
}

.primary-outline {
  /*
    external-item-links.js
  */
  border: 1px solid $primary-color !important;
}

.card-title {
  /*
    cardAlertToggle.js
    cardArrow.js
    cardFriend.js
    cardTestResults.js
    testing-location-list-item.js
    share.page.js
  */
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin: 5px 0;
}

.card-description {
  /*
    cardAlertToggle.js
    cardArrow.js
    cardFriend.js
    cardTestResults.js
    testing-location-list-item.js
    share.page.js
  */
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 5px 0 !important;
  color: $grey-color;
}

.body-title {
  /*
    share.page.js
    update-testing-center-criteria.page.js
  */
  font-family: SF Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0;

  @media (max-width: $md - 1) {
    font-size: 18px;
  }
}

.btn {
  /*
    cardTestResults.js
    external-item-link.js
  */
  box-sizing: border-box !important;
  border-radius: 14px !important;
  height: 28px;
  padding: 0 25px !important;
}

.btn-big {
  /*
    update-criteria-modal.js
    profile-view.page.js
    update-testing-center-criteria.page.js
  */
  height: 48px;
  border-radius: 10px !important;
  width: 100%;
  margin: 5px 0 !important;
}

.hide-desktop {
  /*
    cardTestResults.js
    home.page.js
    profile-view.page.js
    sign-in.page.js
  */
  @media (min-width: $md) {
    display: none !important;
  }
}

.hide-mobile {
  /*
    multiple pages
  */
  @media (max-width: $md - 1) {
    display: none !important;
  }
}

.text-small {
  /*
    background.page.js
    health-worker-status.page.js
    symptoms.page.js
  */
  font-size: 12px;
}

.MuiLinearProgress-barColorPrimary {
  /*
    onboarding pages
  */
  background-color: #eee !important;
}

.MuiLinearProgress-colorPrimary {
  /*
    onboarding pages
  */
  margin-top: 45px;
}

.MuiToggleButton-root {
  /*
    TODO: is this really needed? where?
  */
  text-transform: none !important;
}

/* make scrollbar transparent */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  // The component has this class, should have the style overflow-y: scroll
}

// responsive classses
@media (max-width: $md - 1) {
  .wid100-sm {
    /*
      map.page.js
    */
    width: 100% !important;
  }
}

@media (min-width: $md + 1) {
  .vh100-lg {
    /*
      map.page.js
    */
    height: 100vh !important;
  }
}
