.header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  color: #fff;

  @media (min-width: $md) {
    align-items: center;
    padding: 25px 0 18px;
  }

  h1 {
    font-family: $font-secondary;
    margin: 0 15px 35px;
    line-height: 41px;
    letter-spacing: 0.374px;
    font-weight: bold;
    font-size: 32px;

    @media (min-width: $md) {
      font-size: 56px;
    }
  }

  h2 {
    margin: 0 15px 30px;
    line-height: 22px;
    letter-spacing: -0.408px;
    font-weight: normal;
    font-size: 17px;

    @media (max-width: $md - 1) {
      &:after {
        content: '';
        display: block;
        width: 34px;
        margin-top: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
    }

    @media (min-width: $md) {
      max-width: 760px;
      margin: 0 15px;
      text-align: center;
      font-size: 21px;
    }
  }

  .shape {
    position: absolute;
    width: 150%;
    height: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include responsive-gradient;
  }

  .icon-button {
    align-self: flex-start;
    margin: 5px 5px 20px 5px;
    color: #fff;

    svg {
      font-size: 1rem;
    }
  }

  .desktop-only-content {
    display: none;

    @media (min-width: $md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; // safari fix
      margin-bottom: 20px;
    }

    @media (min-width: $md) and (min-height: 800px) {
      margin-bottom: 40px;
    }

    @media (min-width: $md) and (min-height: 900px) {
      margin-bottom: 60px;
    }

    .logo {
      height: 42px;
    }

    .menu {
      display: flex;
      align-items: center;

      &__item {
        padding: 7px 20px;
        margin: 0 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;

        &:last-child {
          margin-right: 0;
        }

        &.selected {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}
