.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 34px;
  padding: 18px 0 50px;
  text-align: center;
  font-family: $font-normal;
  color: #fff;

  @media (min-width: $md) {
    min-height: 206px;
    margin-bottom: 0;
  }

  .heading {
    letter-spacing: 0.374px;
    font-weight: bold;
    font-size: 34px;
    margin: 0 15px 16px;

    @media (min-width: $md) {
      font-size: 56px;
    }
  }

  .sub-heading {
    max-width: 950px;
    margin: 0 15px;
    letter-spacing: -0.408px;
    font-weight: 500;
    font-size: 17px;

    @media (min-width: $md) {
      font-size: 21px;
    }
  }

  .mobile-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    @media (min-width: $md) {
      display: none;
    }
  }

  .btn-back-fab {
    background-color: transparent; // overriding default fab btn styles
    box-shadow: none; // overriding default fab btn styles

    &:hover {
      background-color: inherit;
    }
  }

  &.main .btn-back-fab {
    &--hidden {
      visibility: hidden; // hidden to preserve layout (instead of display: none)
    }
  }

  .shape {
    position: absolute;
    width: 150%;
    height: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $gradient-background;
  }

  .desktop-content {
    display: none;

    @media (min-width: $md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; // safari fix
      margin-bottom: 20px;
    }

    .logo {
      width: 80px;
    }

    .menu {
      display: flex;
      align-items: center;

      &__item {
        padding: 7px 20px;
        margin: 0 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;

        &:last-child {
          margin-right: 0;
        }

        &.selected {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}
