.health-worker {
  .chips-group {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 20px;
      margin: 22px 0 0;

      .chip {
        margin: 0;
      }
    }
  }

  .label {
    @media (min-width: $md) {
      margin-bottom: 20px;
    }
  }
}
