.login {
  .content-container {
    text-align: center;

    a {
      display: block;
      margin: 15px 0;
      font-weight: 600;
      font-size: 13px;
    }
  }

  .error {
    margin: 15px 0;
  }

  .onboarding-navigation {
    @media (max-width: $md - 1) {
      margin-bottom: 20px;
    }
  }
}
