.logout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  @include responsive-gradient;

  p {
    margin-top: 10px;
  }
}
