.login {
  form {
    flex: 1;
    display: flex;
    align-items: center;

    @media (min-width: $md) {
      align-items: flex-start;
    }
  }

  a.login {
    font-weight: 600;
    font-size: 15px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: block;
      margin: 15px 0;
      font-size: 13px;
    }
  }

  .button-container {
    > a.hide-desktop {
      margin-top: 15px;
    }

    @media (min-width: $md) {
      > button {
        margin: 0 auto;
      }
    }
  }
}
