.verification {
  .content-container {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .control {
    transform: translateY(-50%);
  }

  .code-input {
    max-width: 298px;
    input {
      letter-spacing: 1.3px;
      text-align: center;
      font-size: 25px;
    }
  }

  .alert-messages {
    margin-top: 15px;
    text-align: center;
  }
}
