.phone-verify {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    width: 922px !important;
    display: flex;
    justify-content: space-between;
  }

  .check-label {
    color: #999999;
    display: flex;
    justify-content: center;
  }
}
