.phone-verify {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $md) {
    width: $md !important;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $lg) {
    width: $lg !important;
    display: flex;
    justify-content: space-between;
  }

  .check-label {
    color: #999999;
    display: flex;
    justify-content: center;
    width: 87%;
    margin: auto;

    .MuiTypography-body1 {
      text-align: left;

      @media (max-width: $sm) {
        font-size: 13px;
      }
    }
  }
}
