.verification {
  .code-input {
    max-width: 298px;
    input {
      letter-spacing: .1em;
      text-align: center;
      font-size: 25px;
    }
  }

  .alert-messages {
    margin-top: 15px;
    text-align: center;
  }

  // Trick to override input autofill styles + apply transparent background
  input:-webkit-autofill::first-line {
    font-size: 25px;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-delay: 1s; /* Safari support - any positive time runs instantly */
    animation-name: autofill;
    animation-fill-mode: both;
  }
  @keyframes autofill {
    0%,
    100% {
      color: #fff;
      background: transparent;
    }
  }
}
