.profile-view {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;

  @media (max-width: $sm) {
  }

  .header-homescreen {
    @media (max-width: $sm) {
      padding-bottom: 210px;
    }
  }

  .avatar-edit {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .avatar {
      // border: 2px solid rgba(228, 228, 228, 0.6);
      box-sizing: border-box;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.35);
      border-radius: 300px;
      width: 100px;
      height: 100px;
    }

    .btn-avatar-edit {
      width: 35px;
      height: 35px;
      box-shadow: none;
      position: absolute;
      margin-left: 42px;
    }
  }

  .card-phone {
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-top: -25px;

    @media (max-width: $sm) {
      margin-top: -182px;
    }

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

    .phone-number {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    margin: 0;
  }
}
