/*
  TODO:
  -- probably makes sense to move 'shared' styles currently in _global.scss to here
  -- should we look into utilizing scss functions more? or remove?

  NOTE:
  -- marking classes w/filenames that are utilizing them to help organize/figure out plan of action
*/

$colors: (
  'primary': $primary-color,
  'white': $white-color,
  'black': $black-color,
  'grey': $grey-color,
  'grey2': $grey2,
  'navy': $navy,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    /*
      update-criteria-modal.js
      not-found.page.js
      update-testing-center-criteria.page.js
    */
    background-color: $color !important;
  }

  .color-#{$name} {
    /*
      update-criteria-modal.js
      update-testing-center-criteria.page.js
    */
    color: $color !important;
  }
}

@for $num from 12 to 100 {
  .fontsize-#{$num} {
    /*
      update-criteria-modal.js
      testing-location-list-item.js
      profile-view.page.js
      update-testing-center-criteria.page.js
    */
    font-size: $num + px !important;
  }

  .height-#{$num} {
    /*
      NOTE: not being used.. Should we? Or remove?
    */
    height: $num + px !important;
  }
}

.snackbar {
  &__error {
    .MuiAlert-standardError {
      background-color: white;
    }
  }

  &--map {
    position: absolute;
    @media (min-width: $md) {
      transform: translateX(0) !important;
    }
    .MuiAlert-standardError {
      background-color: white;
    }
    .MuiAlert-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
