$colors: (
  "primary": $primary-color,
  "white": $white-color,
  "black": $black-color,
  "grey": $grey-color,
  "grey2": $grey2,
  "navy": $navy
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .color-#{$name} {
    color: $color !important;
  }
}

@for $num from 12 to 100 {
  .fontsize-#{$num} {
    font-size: $num + px !important;
  }

  .height-#{$num} {
    height: $num + px !important;
  }
}

.flex-container {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-just-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-just-between {
  justify-content: space-between;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-wrap-on {
  flex-wrap: wrap;
}

.flex-wrap-off {
  flex-wrap: nowrap;
}

.snackbar{
  &__error{
    .MuiAlert-standardError{
      background-color: white;
    }
  }
}

