.symptoms {
  .chips-group {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $md) {
      justify-content: center;
      align-items: center;
    }
  }

  .chip {
    @media (min-width: $md) {
      flex: 1 0 30%;
      max-width: 31%;
      margin: 10px;
    }

    span {
      white-space: pre-wrap;
      text-align: center;
    }
  }

  .label {
    @media (min-width: $md) {
      margin-bottom: 20px;
    }
  }
}
