.symptoms {
  .chips-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media(min-width: $md) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(297px, max-content));
      grid-column-gap: 10px;
      grid-row-gap: 20px;
      margin-bottom: 60px;

      .chip {
        margin: 0;
      }
    }
  }

  .label {
    @media(min-width: $md) {
      margin-bottom: 20px;
    }
  }
}