.test-center-page {
  flex: 1 0 auto;

  .color-block {
    height: 250px;

    @media (min-width: $md) {
      height: 309px;
    }
  }

  .heading {
    text-align: center;
    line-height: 22px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;

    @media (min-width: $md) {
      display: none;
    }
  }

  &__content {
    margin-top: 33px;

    .back-btn {
      margin-bottom: 18px;
      color: white;

      &--mobile {
        font-size: 17px;
      }
    }

    // todo: make shared mixin
    .card {
      margin-bottom: 50px;
      padding: 20px 19px;
      border: 0;
      border-radius: 15px;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);

      @media (min-width: $md) {
        padding: 23px 31px;
        border-radius: 30px;
      }

      &__title {
        margin-bottom: 7px;
        letter-spacing: 0.2px;
        font-size: 18px;
        font-weight: 700;

        @media (min-width: $md) {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;

        .info-line {
          font-size: 15px;
          margin-bottom: 4px;
          color: #4f4f4f;

          @media (min-width: $md) {
            font-size: 16px;
            margin-bottom: 8px;
          }

          &:last-of-type {
            margin-top: 5px;
            margin-bottom: 0px;
            color: #828282;
          }
        }
      }

      &__actions {
        margin-top: 12px;

        @media (min-width: $md) {
          margin-top: 23px;
        }
      }

      &__term {
        font-weight: 500;
      }
    }
  }

  &__details-card {
    .detail-row {
      font-size: 16px;
      line-height: 22px;
      color: #4f4f4f;
      margin-bottom: 8px;
    }

    b {
      font-weight: 500;
    }

    &.card {
      border-radius: 6px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

      @media (min-width: $md) {
        border-radius: 15px;
      }
    }
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    a {
      margin-top: 12px;
      width: 100%;

      @media (min-width: $md) {
        width: unset;
      }
    }
  }
}
