.testing-location-list-item {
  $black: #151522;
  $grey: #999;

  .my-auto {
    width: 100%;
  }

  .card-title {
    display: flex;

    .title-text {
      line-height: 22px;
      font-weight: 600;
      font-size: 16px;
      color: $black;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .new-test-center-display {
      color: #ff771a;
      font-size: 14px;
      margin-left: 10px;
      font-weight: 500;
      display: inline-flex;
      align-items: center;

      .MuiSvgIcon-root {
        font-size: 1.3rem;
      }
    }
  }

  .summary {
    font-size: 13px;
    color: $black;

    &__item {
      line-height: 16px;

      &--grey {
        color: $grey;
      }

      &--semibold {
        font-weight: 500;
      }
    }
  }

  /* Expansion Details */
  &__details {
    width: 100%;
    color: $black;

    h4 {
      margin: 0;
      line-height: 22px;
      padding: 0px 0 10px;
      font-size: 13px;
      font-weight: 400;

      span {
        color: $grey;
      }
    }

    .detail-list {
      font-size: 13px;

      dt {
        font-weight: 400;
        float: left;
        margin-right: 7px;
        color: #808080;
      }
    }

    .experiences {
      display: flex;
      font-size: 13px;
      margin-left: -8px;
      margin-bottom: 8px;

      &__left{
        width: 65%;
      }

      &__left-label{
        color: #808080;
        margin-left: 7px;
      }

      &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 5%;
        width: 35%;
      }

      &__percent{
        font-size: 40px;
        color: #808080;
      }
      &__label{
        color: #808080;
        margin-top: -8px;
        font-size: 15px;
      }
      &__total{
        color: #808080;
        margin-top: 5px;
        font-size: 12px;
      }

    }
  }
}

.MuiExpansionPanelSummary-expandIcon {
  visibility: hidden; // hidden to preserve grid
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.btn.primary-color.primary-outline.website-btn {
  @media (min-width: 360px) {
    position: absolute;
    margin-left: 10px;
  }

  @media (max-width: 359px) {
    margin-top: 8px;
    display: block;
  }
}

.MuiExpansionPanelSummary-content.Mui-expanded {
  .card-title {
    .title-text {
      line-height: 22px;
      font-weight: 600;
      font-size: 16px;
      color: #151522;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      text-overflow: inherit;
      overflow: hidden;
    }
  }
}

.link-button {
  text-align: center;
  margin-right: 40px;
}

.link-button-icon {
  border: 1px solid $primary-color;
  border-radius: 50%;
  padding: 5px;
  font-size: 30px !important;
  margin-bottom: 3px;
}

.icons-container {
  margin: 2px 20px;
  font-size: 12px;
  color: $primary-color;

  a:hover {
    // mainly for Share button since it is not an actual link
    color: #0056b3;
  }
}
