.test {
  @media (min-width: $md) {
    width: $md !important;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $lg) {
    width: $lg !important;
    display: flex;
    justify-content: space-between;
  }

  .header-homescreen {
    .test-tabs-wrapper {
      @media (max-width: $sm) {
        width: 45%;
      }

      @media (max-width: $md - 1) {
        margin-top: 8px;
      }
    }
  }

  .tab-overview-tests {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #fff;
    margin-top: -33px;

    .tab-header-overview-tests {
      background-color: transparent;
      box-shadow: none;
      border-bottom: 1px solid #c7c7cc;
      color: #aeaeb2;

      .MuiTab-textColorInherit {
        border-bottom: 4px solid #c7c7cc;

        @media (max-width: $md - 1) {
          width: 50%;
        }
      }

      .MuiTab-textColorInherit.Mui-selected {
        color: $primary-color;
      }
    }

    .MuiTabs-indicator {
      border-bottom: 4px solid $primary-color;
    }
  }

  .list {
    margin: 0;
  }

  .test-results {
    margin-top: -36px;

    .card-test-result {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      padding: 7px 15px;

      @media (min-width: $sm) {
        padding: 16px 36px;
      }

      .MuiCardContent-root {
        padding: 0;
      }

      @media (max-width: $md - 1) {
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
      }

      &:not(:first-child) {
        margin: 7px 0;

        @media (max-width: $md - 1) {
          margin: 11px 0;
        }
      }
    }
  }

  .btn-leave-feedback {
    margin-bottom: 40px !important;
  }
}
