.map-page {
  width: 100%;

  .mobile-top-bar {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 0 10px;

    .location-search {
      width: 100%;
      margin-left: 10px;

      .MuiInputBase-root {
        background-color: white;
        padding: 3px;
        padding-left: 10px;
        border-radius: 40px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      }

      .MuiOutlinedInput-notchedOutline {
        display: none;
      }
    }
  }

  .edit-filters-btn {
    margin: 20px 0px;
    max-height: 40px;
  }

  .edit-filters-btn-container {
    width: 100%;

    @media (max-width: $md - 1){
      width: 50%;
    }
  }

  .view-full-results-btn {
    margin-left: 15px;

    svg {
      font-size: 32px;
      height: 25px;
    }

    .MuiButton-endIcon{
      margin-right: 0px;
    }
  }

  .side-drawer{

    .MuiInputBase-root{
      height: 70px;
    }

  }

  .MuiBadge-badge {
    background-color: white;
    color: $primary-color;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }

  .MuiBadge-anchorOriginTopRightRectangle {
    right: 2%;
    top: 30%;

    @media (min-width: $md + 1) {
      top: 35%;
    }
  }
}

.nav-left-location {
  .MuiDrawer-paperAnchorDockedLeft {
    border: 0;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .MuiDrawer-paper {
    z-index: 3 !important;
  }

  @media (max-width: $md) {
    position: fixed;

    .height-300-sm {
      height: 40vh;
    }
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  .input-search-googlemap {
    padding: 2px 14px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 23px;
    box-shadow: none;
  }
}

.btn-hide-nav {
  position: fixed !important;
  left: -25px !important;
  top: 30px !important;
  right: auto !important;
  background-color: transparent !important;
  width: auto !important;
  box-shadow: none !important;

  @media (max-width: $md - 1) {
    display: none !important;
  }
}

.map-fullscreen {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  overflow-x: hidden;

  @media (min-width: $md + 1) {
    width: calc(100vw - 400px);
    left: 400px;
  }

  @media (max-width: $md) {
    width: 100vw;
    height: 60vh; // page height - 40vh of list
  }

  img {
    height: 100%;
  }
}
.btn-blue-bottom {
  position: fixed !important;
  bottom: 30px;
  right: 55px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  color: #fff;

  @media (max-width: $md) {
    bottom: 312px;
  }
}
.geolist-resizer {
  display: none;
  justify-content: center;
  align-items: center;

  @media (max-width: $md) {
    display: flex;
  }
}
