.testing-location-list-item {
  $black: #151522;
  $grey: #999;

  h3 {
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
    color: $black;

    span {
      color: $grey;
    }
  }

  .summary {
    font-size: 13px;
    color: $black;

    &__item {
      line-height: 16px;

      &--grey {
        color: $grey;
      }

      &--semibold {
        font-weight: 500;
      }
    }
  }

  /* Expansion Details */
  &__details {
    width: 100%;
    color: $black;

    h4 {
      margin: 0;
      line-height: 22px;
      padding: 0px 0 10px;
      font-size: 13px;
      font-weight: 400;

      span {
        color: $grey;
      }
    }

    .details {
      font-size: 13px;

      dt {
        font-weight: 400;
        float: left;
        margin-right: 7px;
        color: #808080;
      }
    }
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.btn.primary-color.primary-outline.website-btn {
  @media (min-width: $md) {
    position: absolute;
    margin-left: 10px;
  }

  @media (max-width: $md - 1) {
    margin-top: 8px;
    display: block;
  }
}
