$font-normal: 'SF Pro', sans-serif;
$primary-color: #007aff;
$error-color: #e82727;
$white-color: #fff;
$black-color: #000;
$grey-color: #aaadb3;
$grey-text: #929292;
$grey2: #e5e5ea;
$navy: #002c83;

$gradient-background: linear-gradient(135deg, #36d1bc, #36d1bc 20%, #007aff);

// screen breakpoints
$xl: 1441px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 332px;

// fonts
@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(./fonts/SF-Pro-Display-Bold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro';
  src: url(./fonts/SF-Pro-Text-Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro';
  src: url(./fonts/SF-Pro-Text-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro';
  src: url(./fonts/SF-Pro-Text-Semibold.otf) format('opentype');
  font-weight: 550;
}

@font-face {
  font-family: 'SF Pro';
  src: url(./fonts/SF-Pro-Text-Bold.otf) format('opentype');
  font-weight: 600;
}
