$font-normal: "SF Pro", sans-serif;
$primary-color: #007aff;
$white-color: #fff;
$black-color: #000;
$grey-color: #aaadb3;
$grey2: #e5e5ea;
$navy: #002c83;

$main-background: linear-gradient(135deg, #36d1bc, #36d1bc 20%, $primary-color);
//linear-gradient(to right, #36d1bc, #1195ff);

// screen breakpoints
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 332px;

// fonts
@font-face {
  font-family: "SF Pro Display";
  src: url(./fonts/SF-Pro-Display-Regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(./fonts/SF-Pro-Display-Medium.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(./fonts/SF-Pro-Display-Bold.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro";
  src: url(./fonts/SF-Pro-Text-Regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro";
  src: url(./fonts/SF-Pro-Text-Medium.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro";
  src: url(./fonts/SF-Pro-Text-Semibold.otf) format("opentype");
  font-weight: 550;
}

@font-face {
  font-family: "SF Pro";
  src: url(./fonts/SF-Pro-Text-Bold.otf) format("opentype");
  font-weight: 600;
}
