@import "variable";
@import "shared";
@import "header";
@import "complete-profile";
@import "create-account";
@import "background";
@import "phone-verify";
@import "phone-verification";
// @import "phone-verifying";
@import "test";
@import "test-map";
@import "profile-view";
@import "profile-edit";
@import "footer";

* {
  font-family: $font-normal;
  text-transform: none;
}

button {
  outline: none !important;
}

.background-responsive {
  @media (min-width: $md) {
    background: linear-gradient(to right, #36d1bc, #1195ff);
    height: 100vh;

    h4 {
      color: #fff;
      font-size: 24px;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.onboard-body {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress-bottom {
  position: absolute;
  align-self: center;
  width: 60%;
  height: 8px;
  bottom: 45px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.21);

  .progress-bottom-bar {
    height: inherit;
    border-radius: inherit;
  }
}

.MuiLinearProgress-barColorPrimary {
  background-color: #eee !important;
}

.primary-color {
  color: $primary-color !important;
}

.primary-outline {
  border: 1px solid $primary-color !important;
}

.MuiLinearProgress-colorPrimary {
  margin-top: 45px;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  // font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  margin: 5px 0;
}

.card-description {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 5px 0 !important;
  color: $grey-color;
}

.body-title {
  font-family: SF Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0;

  @media (max-width: $sm) {
    font-size: 18px;
  }
}

a {
  text-decoration: none !important;
}

.MuiToggleButton-root {
  text-transform: none !important;
}

.button {
  border-radius: 14px !important;
  height: 48px;
  background-color: #007aff;
  margin: 80px 0 !important;
  width: 100%;
  box-shadow: none !important;

  @media (max-width: $md) {
    margin: 30px 0 !important;
  }
}

.btn-gradient {
  background-color: rgba(255, 255, 255, 0.19) !important;
  border: 1px solid $white-color !important;
  box-sizing: border-box !important;
  border-radius: 14px !important;
  height: 30px;
  padding: 0 15px !important;
  font-size: 13px;

  &:not(:first-child) {
    margin: 0 7px;
  }

  @media (max-width: $sm) {
    padding: 0 3px !important;
  }
}

.btn-responsive {
  @media (min-width: $md) {
    background-color: #fff !important;
    color: $primary-color !important;
    font-size: 17px;
  }
}

.btn {
  box-sizing: border-box !important;
  border-radius: 14px !important;
  height: 28px;
  padding: 0 25px !important;
}

.grey-back {
  background-color: #e5e5ea !important;
}

.primary-back {
  background-color: $primary-color !important;
}

.btn-full-width {
  @media (min-width: $sm) {
    width: 200px !important;
  }
}

.btn-outlined-white {
  background-color: transparent !important;
  color: #fff;
  border: 1px solid #fff !important;
}

.btn-big {
  height: 48px;
  border-radius: 10px !important;
  width: 100%;
  margin: 5px 0 !important;
}

.text-grey {
  color: #999999;
  text-align: center;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.hide-desktop {
  @media (min-width: $md) {
    display: none !important;
  }
}

.hide-mobile {
  @media (max-width: $md) {
    display: none !important;
  }
}

.turn-white {
  @media (min-width: $md) {
    color: #fff !important;
  }
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $md) {
    justify-content: center;
  }
}

.wid100 {
  width: 100% !important;
}

.wid100-sm {
  @media (max-width: $sm) {
    width: 100% !important;
  }
}

.height-300-sm {
  @media (max-width: $sm) {
    height: 300px !important;
  }
}

.black {
  color: $black-color;
}

.grey {
  color: $grey-color;
}

.white {
  color: $white-color !important;
}

.list::before {
  content: "•";
  padding-right: 5px;
}

.aligncenter {
  text-align: center;
}

.input-white-back-phone {
  background-color: #fff;
  border-radius: 8px;
  height: 60px;

  .MuiInputLabel-formControl {
    left: 7px;
  }

  .MuiInput-underline:before {
    display: none;
  }

  .MuiInput-underline:after {
    display: none;
  }

  .MuiFilledInput-underline:before {
    display: none;
  }

  .MuiFilledInput-underline:after {
    display: none;
  }
}

.white-back-input {
  width: 100%;

  .MuiFilledInput-root {
    background-color: #fff;
    border-radius: 8px;

    @media (max-width: $md) {
      border: 1px solid #dadada;
    }

    .MuiInputBase-input {
      background-color: #fff;
      border-radius: 8px;
    }
  }

  .MuiFilledInput-underline:before {
    display: none;
  }

  .MuiFilledInput-underline:after {
    display: none;
  }
}

//tab component
.test-tabs-wrapper {
  border: 9px solid #fff;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.08),
    0px 10px 16px rgba(50, 50, 71, 0.15);

  .test-tabs {
    width: auto;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: none;

    .MuiTab-wrapper {
      color: #000;
      width: 240px;
    }

    .MuiTab-textColorInherit.Mui-selected {
      .MuiTab-wrapper {
        background-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        height: 38px;
      }
    }

    span[class*="PrivateTabIndicator-colorSecondary-"] {
      background-color: transparent;
    }
  }
}

.card-blank {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  // margin-top: -60px;
  padding: 25px 15px;

  @media (max-width: $sm) {
    margin-top: -60px;
  }

  .sub-card {
    padding: 20px 0;

    .body-sub-title {
      font-family: "SF Pro Display", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.374px;
      margin: 5px 0;
    }

    .body-sub-description {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.408px;
      color: #999999;
      margin: 10px 0;
    }

    .form-control {
      width: 100%;
      height: 100% !important;

      .white-back-input {
        border: 1px solid #dadada;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
      }

      .select-white-back {
        width: 100%;
        border: 1px solid #dadada;
        box-sizing: border-box;
        border-radius: 8px;
        height: 60px;
      }
    }
  }
}

/* make scrollbar transparent */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  // The component has this class, should have the style overflow-y: scroll
}

// responsive classses
@media (max-width: $sm) {
  .wid100-sm {
    width: 100% !important;
  }

  .show-mobile-sm {
    display: block !important;
  }
}

@media (min-width: $md) {}