.header-homescreen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;

  @media (min-width: $md) {
    justify-content: flex-start;
    margin-bottom: 43px;
    padding-top: 18px;
  }

  .shape {
    position: absolute;
    width: 150%;
    height: 390px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #36d1bc, #1195ff);

    @media (min-width: $md) {
      border-radius: 0;
      height: 300px;
    }
  }

  .desktop-container {
    display: none;

    @media (min-width: $md) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    .logo {
      width: 80px;
    }

    .menu {
      display: flex;
      align-items: center;

      &__item {
        padding: 7px 20px;
        margin: 0 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;

        &:last-child {
          margin-right: 0;
        }

        &.selected {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}
