.mobile-menu {
  $min-height: 805px; // specific to this component only 
  
  z-index: 10;

  @media (min-width: $md) {
    display: none;
  }

  .menu {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all ease-out 0.2s;

    .logo {
      width: 90px;
      padding: 20px 0;

      @media (min-height: $min-height) {
        width: 112px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      justify-content: center;
      width: 100%;
      padding: 15px 0;
      font-size: 20px;
      font-weight: 500;
      color: $secondary-color;

      @media (min-height: $min-height) {
        padding: 20px 0;
        font-size: 25px;
      }
    }

    &--opened {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      min-height: 90vh;
      overflow-y: auto;
      opacity: 1;
      transition-delay: 0.3s;
      transition-timing-function: ease-in;
    }
  }

  .icon-button {
    height: 44px;
    width: 44px;
    padding: 10px;
    transition: all ease 2.5s;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      transition-property: transform;
    }
    &:before {
      transform: scale(1);
      transition-duration: 0.3s;
      transition-delay: 0.4s;
    }
    &:after {
      transform: scale(0);
      transition-duration: 0s;
      transition-delay: 0s;
    }

    &.icon-close {
      box-shadow: none;
      transition-duration: 0s;

      &:before {
        content: '';
        display: block;
        transform: scale(0.9);
      }

      .icon {
        background-color: rgba(255, 255, 255, 0);

        &:before,
        &:after {
          background-color: #000;
        }

        &:before {
          transform: translateY(0) rotate(45deg);
        }
        &:after {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }

    .icon {
      z-index: 10;
      position: absolute;
      width: 18px;
      height: 2px;
      border-radius: 10px;
      background-color: #fff;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: inherit;
        transition: transform 0.3s;
        border-radius: 10px;
      }

      &:before {
        transform: translateY(-6px) rotate(0deg);
      }

      &:after {
        transform: translateY(6px) rotate(0deg);
      }
    }
  }

  .circle {
    position: fixed;
    top: 32px;
    left: 32px;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;

    &.opened {
      height: auto;
      width: 500%;
      padding-top: 500%;
      transition-duration: 0.7s;
    }
  }

  // for 'map' style button
  &--white {
    .icon-button {
      box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.08), 0px 10px 20px rgba(0, 0, 0, 0.15);

      &:before,
      &:after {
        background-color: #fff;
      }

      .icon {
        background-color: #000;

        &:before,
        &:after {
          background-color: #000;
        }
      }
    }

    .circle {
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
}
