.mobile-menu {
  position: absolute;
  z-index: 1;
  display: 'flex';

  @media (min-width: $md + 1) {
    display: none;
  }

  .icon-button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    left: 10px;
    top: 10px;
  }

  .menu-list {
    min-width: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-left: 5px;
    border-radius: 8px;
    line-height: 10px;
  }
}