.tracing {
  flex: 1 0 auto; // safari fix
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  padding-bottom: 150px; // room for bottom nav
  @include responsive-gradient;

  h1 {
    margin-top: 20vh;
    margin-bottom: 56px;
    line-height: 41px;
    font-weight: bold;
    font-size: 34px;
  }

  h2 {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
  }

  p {
    line-height: 18px;
    font-size: 15px;
  }

  .content {
    text-align: center;
  }
}
