/*
  TODO:
  -- move component specific styles into its respective scss file
*/

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31c9c4', endColorstr='#0f92ee', GradientType=0); /* IE6-9 */
  padding: 0px;
  margin: 0px;
}

.switch {
  /*
    background.page.js
  */
  position: relative;
  display: inline-block;
  width: 55px;
  height: 29px;
}

.switch input {
  /*
    background.page.js
  */
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  /*
    background.page.js
  */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  /*
    background.page.js
  */
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /*
    background.page.js
  */
  background-color: #35c759;
}

input:focus + .slider {
  /*
    background.page.js
  */
  box-shadow: 0 0 1px #35c759;
}

input:checked + .slider:before {
  /*
    background.page.js
  */
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  /*
    background.page.js
  */
  border-radius: 34px;
}

.slider.round:before {
  /*
    background.page.js
  */
  border-radius: 50%;
}

.Active {
  /*
    health-worker-status.page.js
    symptoms.page.js
  */
  background-color: #002c83 !important;
  border: 1px #002c83 solid !important;
  color: white !important;
}

.isRelaxedBackground {
  /*
    cardArrow.js (can probably delete component)
  */
  background-color: #f1f8ff !important;
}

.root {
  /*
    TODO: check if this is needed
  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px !important;
}

